.calculator{
    width: 20rem;
    height: 30rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: rgb(156, 148, 148);
    border-radius: 5px;
    animation: slide-up 300ms ease-out forwards;
    box-shadow: 10px 5px 5px rgb(158, 157, 157);
}

@keyframes slide-up {
    from {
      opacity: 0;
      transform: translateY(20rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }